 body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

header {
  background-color: #4c8caf;
  padding: 20px;
  max-width: 800px;
  border-radius: 15px;
  margin:auto;
  text-align: center;
  color: white;
}

.nav-boxen {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
}

.nav-box {
  background-color: #4adc15;
  padding: 10px 20px;
  border-radius: 8px;
  color: black;
  width: 110px;
  text-align: center;
}

.uber-mich {
  margin-top: 40px;
  background-color: red;
  padding: 15px;
  border-radius: 8px;
}

.projekte {
  margin-top: 40px;
  background-color:purple;
  padding: 15px;
  border-radius: 8px;
}
footer {
  margin-top: 40px;
  text-align: center;
  color: #777;
}